doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= metaData.docTitle
    each style in metaData.styles
      link(rel="stylesheet", href=style)
  body
    #root !{appMain}
    script
      | window.initialState = JSON.parse('!{initialState}')
    each src in metaData.scripts
      script(src=src)
